@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

*,
*::before,
*::after {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffabe1;
}

.title {
  display: inline-block;
  justify-content: center;
  color: #6155a6;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  opacity: 0;
  clear: both;
  margin: 0;
}
.container {
  width: 60%;
  margin: 0 auto;
}

.selection {
  background-color: white;
  border-radius: 50px 50px 0 0;
  width: 80%;
}

.selection > h1 {
  padding: 32px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-size: 2.25em;
}

.cards {
  padding: 0px 16px 32px;
  min-width: 276px;
  max-width: 828px;
  margin: 0 auto;
}
.card {
  width: 256px;
  height: 256px;
  border-radius: 20px;
  margin: 32px 10px;
  box-shadow: 0px 16px 32px rgba(46, 34, 3, 0.25);
  overflow: hidden;
}

.card-pic {
  height: 65%;
  overflow: hidden;
}

.card-pic img {
  width: 100%;
}

.card-pic div {
  max-width: 80%;
  margin: 5% auto;
}

.color1 {
  background-color: #fed7ae;
}
.color2 {
  background-color: #bbd5f8;
}
.color3 {
  background-color: #feb6b7;
}

.card-content {
  background-color: white;
  padding: 16px;
}

.card-content > * {
  margin: 0;
  padding-top: 5px;
}

.card-content {
  font-size: 0.55em;
}
.card-content p {
  color: #a8a39b;
}

header {
  background-color: #ffe6e6;
}

header .logo {
  float: left;
}

.logo img {
  width: 128px;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
  margin: 24px 5px;
  padding: 5px;
}

header nav a {
  font-family: "Source Sans Pro", sans-serif;
}

header nav a h1,
h2,
h3 {
  color: #6155a6;
  font-weight: bolder;
}

body {
  background-color: #a685e2;
}

.contact {
  color: #6155a6;
  font-weight: bolder;
  text-align: center;
}

main form input:not(input[type="radio"], input[type="checkbox"]),
form button,
form select {
  border-radius: 12px;
  border: 1px ridge rgba(46, 34, 3, 0.5);
  min-height: 24px;
  margin: 5px;
  padding: 0px 12px;
  font-size: 0.8rem;
  max-width: 80%;
  min-width: 120px;
}

main form input[type="checkbox"] {
  margin: 5px 5px 5px 15%;
  height: 24px;
  padding: 0px 12px;
  font-size: 0.8rem;
}

main form option {
  font-size: 1.2em;
}

main form label {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 1.2rem;
  min-width: 40%;
}

main form legend {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 1.2rem;
}

main form fieldset {
  border: 1px inset rgba(46, 34, 3, 0.25);
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(46, 34, 3, 0.25);
  background-color: #fff2e3;
}

main form fieldset .inline {
  display: inline-block;
}

main form label.label-long {
  width: 75%;
  max-height: 6em;
  overflow: auto;
}

main form.big-form {
  width: 60%;
}

main form.big-form button {
  min-width: 30%;
  max-width: 40%;
}
main form {
  font-size: 1.5em;
  width: 30%;
  margin: 0 auto 64px;
  padding: 32px;
  border-radius: 32px;
  background-color: white;
  box-shadow: 0px 16px 32px rgba(46, 34, 3, 0.25);
  text-align: center;
}

form a {
  font-size: 0.6em;
}

form div {
  padding: 15px 0;
}

.big-form > div {
  min-width: 200px;
  max-width: 75%;
  margin: 0 auto;
}

footer {
  background-color: #6155a6;
}

footer p,
footer h1,
footer h2,
footer h3,
footer a {
  color: #ffe6e6;
  font-size: 0.8em;
}

footer p,
footer a,
footer h3 {
  color: #ffe6e6;
}

.left-footer,
.center-footer {
  width: 33%;
  margin-right: 32px;
}

footer hr {
  clear: both;
}

.footer-foot {
  text-align: center;
}
