*,
*::before,
*::after {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 35px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: gray;
}

nav ul {
  padding: 0;
}

nav li {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}

a,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  color: black;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0px;
}

header {
  background-color: #2f5a78;
}

.logo {
  width: 20%;
}
.logo img {
  width: 70%;
}

header nav li {
  display: inline-block;
  margin: 24px 5px;
  padding: 5px;
}

header nav a {
  font-family: Poppins, sans-serif;
  font-size: large;
}

header nav a h1,
h2,
h3 {
  color: black;
}

body {
  background-color: white;
}

.contact {
  color: black;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: large;
}

main input[type="text"],
textarea {
  border-radius: 12px;
  border: 1px ridge #2f5a78;
  min-height: 24px;
  margin: 5px;
  padding: 0px 12px;
  font-size: 0.8rem;
  max-width: 80%;
  min-width: 120px;
}

main input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main input[type="submit"]:hover {
  background-color: #45a049;
}

main label {
  font-family: Poppins, sans-serif;
  text-align: left;
  font-size: 1.2rem;
  min-width: 40%;
}

main form fieldset {
  border: 1px inset #2f5a78;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #2f5a78;
  background-color: gray;
}

main form {
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  color: white;
  width: 30%;
  margin: 0 auto 64px;
  padding: 32px;
  border-radius: 32px;
  background-color: gray;
  box-shadow: 0px 16px 32px #2f5a78;
  text-align: center;
}

footer {
  margin-top: 30%;
}

.footer-head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f5a78;
  margin-top: 40px;
  font-family: Poppins, sans-serif;
}

.upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p,
footer h2,
footer a {
  color: black;
  font-size: 0.8em;
}

.left-foot,
.center-foot .right-foot {
  width: 33%;
  margin-right: 32px;
}

.footer-text {
  text-decoration: none;
}

.footer-foot {
  text-align: center;
}
