*,
*::before,
*::after {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #f64c72;
  font-family: "Permanent Marker", cursive;
  font-size: 55px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #f64c72;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

a,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
  font-size: 17px;
  color: white;
}

.left {
  display: flex;
}

.right {
  direction: flex;
}

.clear {
  opacity: 0;
  clear: both;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #2f2fa2;
}

header .logo {
  float: left;
}

.logo img {
  width: 128px;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
  margin: 24px 5px;
  padding: 5px;
}

header nav a {
  font-family: "Permanent Marker", cursive;
}

header nav a h1,
h2,
h3 {
  color: white;
  font-weight: bold;
}

body {
  background-color: #2f2fa2;
}

.contact {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 17px;
  text-align: center;
}

main form input:not(input[type="radio"], input[type="checkbox"]),
form button,
form select {
  border-radius: 12px;
  border: 1px ridge rgba(46, 34, 3, 0.5);
  min-height: 24px;
  margin: 5px;
  padding: 0px 12px;
  font-size: 0.8rem;
  max-width: 80%;
  min-width: 120px;
}

main form input[type="checkbox"] {
  margin: 5px 5px 5px 15%;
  height: 24px;
  padding: 0px 12px;
  font-size: 0.8rem;
}

main form option {
  font-size: 1.2em;
}

main form label {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 1.2rem;
  min-width: 40%;
}

main form legend {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 1.2rem;
}

main form fieldset {
  border: 1px inset rgba(46, 34, 3, 0.25);
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(46, 34, 3, 0.25);
  background-color: #fff2e3;
}

main form fieldset .inline {
  display: inline-block;
}

main form label.label-long {
  width: 75%;
  max-height: 6em;
  overflow: auto;
}

main form.big-form {
  width: 60%;
}

main form.big-form button {
  min-width: 30%;
  max-width: 40%;
}
main form {
  font-size: 1.5em;
  font-weight: bolder;
  color: white;
  width: 30%;
  margin: 0 auto 64px;
  padding: 32px;
  border-radius: 32px;
  background-color: #f64c72;
  box-shadow: 0px 16px 32px rgba(46, 34, 3, 0.25);
  text-align: center;
}

form a {
  font-size: 0.6em;
}

form div {
  padding: 15px 0;
}

.big-form > div {
  min-width: 200px;
  max-width: 75%;
  margin: 0 auto;
}

footer {
  background-color: #242582;
  margin-top: 30%;
}

.footer-head container {
}

footer p,
footer h1,
footer h2,
footer h3,
footer a {
  color: white;
  font-size: 0.8em;
}

footer p,
footer a,
footer h3 {
  color: white;
}

.left-footer,
.center-footer {
  width: 33%;
  margin-right: 32px;
}

footer hr {
  clear: both;
}

.footer-foot {
  text-align: center;
}
