@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

*,
*::before,
*::after {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #6155a6;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffabe1;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  opacity: 0;
  clear: both;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #ffe6e6;
}

header .logo {
  float: left;
}

.logo img {
  width: 128px;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
  margin: 24px 5px;
  padding: 5px;
}

header nav a {
  font-family: "Source Sans Pro", sans-serif;
}

header nav a h1,
h2,
h3 {
  color: #6155a6;
  font-weight: bolder;
}

body {
  background-color: #a685e2;
}

p {
  color: #ffe6e6;
  font-weight: bold;
}

footer {
  background-color: #6155a6;
}

.footer-head container {
}

footer p,
footer h1,
footer h2,
footer h3,
footer a {
  color: #ffe6e6;
  font-size: 0.8em;
}

footer p,
footer a,
footer h3 {
  color: #ffe6e6;
}

.left-footer,
.center-footer {
  width: 33%;
  margin-right: 32px;
}

footer hr {
  clear: both;
}

.footer-foot {
  text-align: center;
}
