*,
*::before,
*::after {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #f64c72;
  font-family: "Permanent Marker", cursive;
  font-size: 55px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #f64c72;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

a,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Overpass", sans-serif;
  font-size: 17px;
  color: white;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.clear {
  opacity: 0;
  clear: both;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #2f2fa2;
}

header .logo {
  float: left;
}

.logo img {
  width: 128px;
}

header nav {
  float: right;
}

header nav li {
  display: inline-block;
  margin: 24px 5px;
  padding: 5px;
}

header nav a {
  font-family: "Permanent Marker", cursive;
}

header nav a h1,
h2,
h3 {
  color: white;
  font-weight: bolder;
}

body {
  background-color: #2f2fa2;
}

p {
  color: white;
  font-weight: bold;
}

footer {
  background-color: #242582;
}

.footer-head-container {
}

footer p,
footer h1,
footer h2,
footer h3,
footer a {
  color: white;
  font-size: 0.8em;
}

footer p,
footer a,
footer h3 {
  color: white;
}

.left-footer,
.center-footer {
  width: 33%;
  margin-right: 32px;
}

footer hr {
  clear: both;
}

.footer-foot {
  text-align: center;
}
